html,
#root,
body {
  max-height: 100%;
  font-family: Helvetica;
  width: 99.65%;
}


.app {
  max-height: 100%;
  flex-direction: column;
  display: flex;
  max-width: 100%;
  min-width: 820px;
}

.app-body {
  display: flex;
  flex: 1;
}

.content {
  position: relative;
  flex: 1;

  margin-right: 5%;
}

.circular {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
